body {
    background-color: #333;
    color: white;
    font-family: 'Minecraft Regular';;
}

.dif {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.dots {
    height: 20px;
    width: 20px;
}