body {
    background-color: #333;
    color: white;
}

.dif {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

table,td {
    border: 1px solid rgb(131, 20, 122);
}

.pierwszy {
    text-align: center;
    font-size: larger;
}

.bokiem {
    width: 1em;
    transform: translateY(3em) rotate(-90deg);
}

tr:first-child {
    height:8em;
    
}

tr:hover {  
    background-color: pink;
}